// Menu Items
.content {
    width: 224px;


}

.menu-item {
    margin-left: 0 !important;
    justify-content: flex-start !important;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    min-width: 100px;
    border-radius: 0px;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: var(--white);
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
    cursor: pointer;
    width: 100%;
    line-height: 1.8rem;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}

.menu-header {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -8px;
    cursor: pointer;


    .menu-back {
        height: 50px;
        width: 50px;
        background: none;
        font-size: 1.6rem;
        cursor: pointer;
    }

    .menu-title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}